$nav-header-font:'Ubuntu','sans-serif';
$nav-header-color:hsla(206, 60%, 28%, 0.8);
//hsla(206, 57%, 90%, 0.5);
$footer-color:hsla(206, 60%, 28%, 0.94);

footer{
width: 98%;
//margin-top: auto;
//margin-bottom: 1%;
//margin-top: 2%;
}

table{
  margin-left: 20%;
  align-content: center;
  width: 50%;
}
.footer-div{
  background-color: $footer-color;
  font-family: $nav-header-font;
  font-size: 16px;
  width: 100%;
  height: auto;
  padding: 1%;
  color: white;
//  margin-bottom: 1%;
}

.footer-div table tr td {
  align-content: center;
  margin:1%;
  padding: 2%;
}

.footer-div table{
  align-self: center;
}
